@model ConvicartAdminApp.Models.Preference

@{
    ViewData["Title"] = "Edit Preference";
}

<h2>Edit Preference</h2>

<form asp-action="EditPreference" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="PreferenceId" />
    <div class="form-group">
        <label asp-for="PreferenceName"></label>
        <input asp-for="PreferenceName" class="form-control" />
        <span asp-validation-for="PreferenceName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PreferenceDescription"></label>
        <input asp-for="PreferenceDescription" class="form-control" />
        <span asp-validation-for="PreferenceDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageURLCusine"></label>
        <input asp-for="ImageURLCusine" class="form-control" />
        <span asp-validation-for="ImageURLCusine" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Upload New Product Image</label>
        <input type="file" name="imageFile" class="form-control" />
        <div>
            @if (Model.PreferenceImage != null)
            {
                <p>Current Image:</p>
                <img src="data:image;base64,@(Convert.ToBase64String(Model.PreferenceImage))" alt="Preference Image" width="150" />
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
